/**COLOR**/
/**SIZE**/
body {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  z-index: 0;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1 {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  h1 {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  h1 {
    font-size: 53px;
    line-height: 57px;
  }
}
h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  h2 {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  h2 {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .container {
    max-width: 1150px;
    padding: 0 50px;
  }
}
.wrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .wrap {
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .wrap {
    position: relative;
    width: 925px;
    padding: 0 50px;
    padding-left: 225px;
  }
}
button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.page-header {
  border-bottom: 1px solid #fafafa;
}
.page-header .container {
  padding: 0;
}
@media (min-width: 768px) {
  .page-header .container {
    padding: 0 50px;
  }
}
.main-nav {
  position: relative;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-direction: column;
  }
}
.nav {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  padding: 15px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .logo {
    text-align: left;
    order: 1;
  }
}
.logo:hover,
.logo:focus {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.3;
}
.burger {
  position: absolute;
  right: 30px;
  top: 25px;
}
@media (min-width: 768px) {
  .burger {
    display: none;
  }
}
.burger-close,
.burger-open.hide {
  display: none;
}
.burger-close.show,
.burger-open {
  display: block;
}
.nav__list {
  display: none;
  width: 100%;
}
@media (min-width: 768px) {
  .nav__list {
    width: auto;
  }
}
@media (min-width: 768px) {
  .nav__list--second {
    display: flex;
    order: 2;
  }
  .text-hide {
    display: none;
  }
}
@media (min-width: 1150px) {
  .nav__list--first {
    display: flex;
    order: 0;
  }
}
.nav__list-item svg {
  fill: #fafafa;
}
.nav__list-item {
  position: relative;
  padding: 32px 0 32px 75px;
  border-top: 1px solid #fafafa;
}
@media (min-width: 768px) {
  .nav__list-item {
    padding: 30px 0;
    border: 0;
    border-left: 1px solid #fafafa;
  }
}
@media (min-width: 1150px) {
  .nav__list--first .nav__list-item {
    padding: 31px;
  }
  .nav__list--first .nav__list-item::nth-child(2) {
    padding-left: 0;
  }
}
@media (min-width: 1150px) {
  .nav__list--first .nav__list-item:first-child {
    border-left: none;
  }
}
.nav__list-item:hover a,
.nav__list-item:focus a,
.nav-bottom__list-item:hover a,
.nav-bottom__list-item:focus a,
.nav__list-item:hover svg,
.nav__list-item:focus svg {
  color: rgba(0, 0, 0, 0.6);
  fill: #63d1bb;
}
.nav__list-item:active a,
.nav-bottom__list-item:active a,
.nav__list-item:active svg {
  opacity: 0.3;
  fill: #63d1bb;
}
.nav__link {
  font-weight: 700;
  color: #000000;
}
.nav__icon {
  position: absolute;
  left: 30px;
}
@media (min-width: 768px) {
  .nav__icon {
    position: relative;
    left: 0;
    padding: 0 30px;
  }
}
.nav-bottom {
  display: none;
}
@media (min-width: 1150px) {
  .nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 2;
  }
}
@media (min-width: 768px) {
  .nav-bottom__list {
    display: flex;
    justify-content: space-between;
  }
  .nav-bottom__list-item {
    padding: 30px;
    border: none;
  }
  .discovery__text {
    display: block;
  }
}
.banner {
  position: relative;
  width: 100%;
  background-color: #fafafa;
  text-align: center;
}
@media (min-width: 1150px) {
  .banner {
    margin-top: -80px;
  }
}
.banner__background {
  width: 100%;
  height: 300px;
  background-image: url("../img/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .banner__background {
    height: 630px;
    background-image: url("../img/banner-tablet.jpg");
  }
}
.banner__title {
  margin: 0;
  padding: 90px 30px 0;
}
@media (min-width: 768px) {
  .banner__title {
    padding: 160px 50px 0;
  }
}
@media (min-width: 1150px) {
  .banner__title {
    padding: 160px 220px 0;
  }
}
.banner .container {
  padding: 0;
}
@media (min-width: 768px) {
  .banner .container {
    padding: 0 50px;
  }
}
.goods {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .goods {
    flex-direction: row;
  }
}
.goods__link {
  position: relative;
  padding: 30px;
  text-align: left;
  cursor: pointer;
  transition: all 0.5s;
}
@media (min-width: 768px) {
  .goods__link {
    width: 50%;
    padding: 50px;
  }
}
.goods__link.goods__link--first:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 40px;
  width: 40px;
  height: 67px;
  margin-top: -30px;
  background-image: url("../img/product-icon1.png");
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.goods__link.goods__link--second:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  background-image: url("../img/product-icon2.png");
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.goods__link--first {
  background-color: #63d1bb;
}
.goods__link--second {
  background-color: #56c3b2;
}
.goods__link:hover,
.goods__link:focus {
  padding-top: 25px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .goods__link:hover,
  .goods__link:focus {
    padding-top: 45px;
    padding-bottom: 55px;
  }
}
.goods__link:hover.goods__link.goods__link--first:after,
.goods__link:focus.goods__link.goods__link--first:after,
.goods__link:hover.goods__link.goods__link--second:after,
.goods__link:focus.goods__link.goods__link--second:after {
  margin-top: -35px;
}
.goods__link:active.goods__link.goods__link--first:after,
.goods__link:active.goods__link.goods__link--second:after,
.goods__link:active .goods__title-link {
  opacity: 0.3;
}
.goods__title {
  width: 50%;
}
.goods__title-link {
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 768px) {
  .banner__separator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22px;
    background-image: url("../img/wave-white.png");
    z-index: 1;
  }
}
@media (min-width: 1150px) {
  .banner__separator {
    bottom: -18px;
    height: 34px;
    background-image: url("../img/waveWhite-desktop.png");
  }
}
.inner-page .banner__background {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  background-image: none;
}
.inner-page .banner__title {
  padding: 74px 0;
}
@media (min-width: 768px) {
  .inner-page .banner__title {
    padding: 105px 0 80px;
  }
}
@media (min-width: 1150px) {
  .inner-page .banner__title {
    padding-bottom: 100px;
  }
}
.offer {
  position: relative;
  padding-top: 35px;
}
@media (min-width: 1150px) {
  .offer {
    padding-top: 120px;
  }
}
@media (min-width: 1150px) {
  .offer .wrap {
    position: relative;
  }
}
@media (min-width: 768px) {
  .indicator {
    position: absolute;
    right: 75px;
    top: 40px;
    width: 70px;
    text-align: center;
  }
}
@media (min-width: 1150px) {
  .indicator {
    left: 45px;
    top: 0;
  }
}
.offer__indicator {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
}
.offer__item {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .offer__item {
    width: 292px;
  }
}
@media (min-width: 1150px) {
  .offer__item {
    padding-top: 55px;
  }
}
.offer__text {
  padding-bottom: 35px;
}
@media (min-width: 1150px) {
  .offer__text {
    padding-bottom: 55px;
  }
}
.offer__table {
  width: 100%;
  margin-bottom: 25px;
  border-collapse: collapse;
}
@media (min-width: 1150px) {
  .offer__table {
    margin-bottom: 85px;
  }
}
.offer__table td {
  padding: 15px 0;
  border-bottom: 1px solid #444444;
}
.offer__table td:first-child {
  width: 100px;
}
.offer__link {
  width: 100%;
}
@media (min-width: 768px) {
  .offer__link {
    position: absolute;
    top: 120px;
    right: 50px;
    width: auto;
    z-index: -1;
  }
}
@media (min-width: 1150px) {
  .offer__link {
    top: -65px;
    right: 20px;
  }
}
.offer__price {
  padding: 30px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
  text-align: center;
}
@media (min-width: 1150px) {
  .offer__price {
    font-size: 24px;
  }
}
@media (min-width: 1150px) {
  .offer__price {
    padding-top: 0;
  }
}
.button.button-order {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .button.button-order {
    margin-bottom: 52px;
  }
}
@media (min-width: 1150px) {
  .button.button-order {
    margin-bottom: 73px;
  }
}
.offer__separator {
  width: 100%;
  height: 6px;
  background-image: url("../img/waveGray-mobile.png");
}
@media (min-width: 768px) {
  .offer__separator {
    height: 17px;
    background-image: url("../img/waveGray-tablet.png");
  }
}
@media (min-width: 1150px) {
  .offer__separator {
    height: 23px;
    background-image: url("../img/waveGray-desktop.png");
  }
}
.about {
  padding: 30px 0;
}
@media (min-width: 768px) {
  .about {
    padding-bottom: 80px;
  }
}
.advantage {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .advantage {
    flex-direction: row;
  }
}
.advantage__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .advantage__list:first-child {
    padding-right: 100px;
  }
}
@media (min-width: 1150px) {
  .advantage__list:first-child {
    padding-right: 120px;
  }
}
.advantage__list-item {
  position: relative;
  padding-top: 85px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .advantage__list-item {
    font-size: 20px;
    line-height: 22px;
  }
}
.advantage__list-item:before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background-repeat: no-repeat;
}
.advantage__list-item--first:before {
  width: 32px;
  height: 37px;
  background-image: url("../img/icon/flower.png");
}
.advantage__list-item--second:before {
  width: 47px;
  height: 27px;
  background-image: url("../img/icon/money.png");
}
.advantage__list-item--third:before {
  width: 34px;
  height: 27px;
  background-image: url("../img/icon/heart.png");
}
.advantage__list-item--fourth:before {
  width: 35px;
  height: 34px;
  background-image: url("../img/icon/circle.png");
}
.advantage__list-item--fifth:before {
  width: 55px;
  height: 23px;
  background-image: url("../img/icon/rocket.png");
}
.advantage__list-item--sixth:before {
  width: 33px;
  height: 32px;
  background-image: url("../img/icon/gift.png");
}
.comments {
  position: relative;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .comments {
    padding: 80px 0 125px;
  }
}
.comments .wrap {
  position: relative;
}
@media (min-width: 768px) {
  .comments .wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 357px;
    height: 450px;
    background-image: url("../img/comments-area.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}
@media (min-width: 1150px) {
  .comments .wrap:after {
    left: 50px;
  }
}
.comments__title {
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .comments__title {
    padding-bottom: 65px;
  }
}
.slider {
  padding-bottom: 35px;
}
.comments__text {
  padding-bottom: 40px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .comments__text {
    padding-bottom: 70px;
  }
}
.comments__author {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}
.comments__author-email {
  font-size: 17px;
  color: #444444;
}
.buttons {
  display: flex;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .buttons {
    position: absolute;
    right: 50px;
    bottom: 140px;
    justify-content: space-between;
    width: 135px;
    margin-bottom: 0;
  }
}
.button-slider {
  width: 50%;
  padding: 13px 0;
  border: 1px solid #ececec;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button-slider {
    width: auto;
    border: none;
  }
}
.button-slider:hover,
.button-slider:focus {
  opacity: 0.6;
}
.button-slider:active .slider-arrow {
  opacity: 0.3;
}
.button.comments__button {
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  .button.comments__button {
    position: absolute;
    top: 85px;
    right: 50px;
    width: 175px;
  }
}
.comments__separator {
  width: 100%;
  height: 6px;
  background-image: url("../img/waveGray-mobile.png");
}
@media (min-width: 768px) {
  .comments__separator {
    content: "";
    position: absolute;
    bottom: 0;
    height: 17px;
    background-image: url("../img/waveGray-tablet.png");
  }
}
@media (min-width: 1150px) {
  .comments__separator {
    height: 23px;
    background-image: url("../img/waveGray-desktop.png");
  }
}
.contacts {
  padding-top: 30px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .contacts {
    position: relative;
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    padding-top: 150px;
    padding-bottom: 105px;
  }
}
@media (min-width: 1150px) {
  .contacts .wrap::after {
    content: "";
    position: absolute;
    right: 50px;
    top: 35px;
    width: 47px;
    height: 81px;
    background-image: url("../img/icon/flag.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1150px) {
  .contacts .wrap::after {
    left: 60px;
    top: -15px;
  }
}
.contacts .wrap {
  padding: 0;
}
@media (min-width: 1150px) {
  .contacts .wrap {
    padding: 0 50px 0 225px;
  }
}
.contacts__title {
  margin: 0;
  padding: 0 30px 40px;
}
@media (min-width: 768px) {
  .contacts__title {
    padding: 0 50px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1150px) {
  .contacts__title {
    padding: 0;
    padding-bottom: 60px;
  }
}
.contacts__info {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .contacts__info {
    flex-direction: row;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .contacts__info {
    flex-direction: column;
    width: 50%;
    padding: 0;
  }
}
.email,
.adress {
  display: flex;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .email,
  .adress {
    position: relative;
    width: 50%;
  }
}
@media (min-width: 1150px) {
  .email,
  .adress {
    padding-bottom: 35px;
    width: auto;
  }
}
@media (min-width: 768px) {
  .email {
    padding-right: 55px;
  }
}
@media (min-width: 1150px) {
  .email {
    display: flex;
    align-items: baseline;
    padding-right: 0;
  }
}
.contacts__name {
  padding-right: 30px;
}
a.line__bottom {
  border-bottom: 1px solid #63d1bb;
  color: #000000;
}
@media (min-width: 768px) {
  a.line__bottom {
    position: absolute;
    right: 55px;
  }
}
@media (min-width: 1150px) {
  a.line__bottom {
    position: static;
  }
}
.map {
  margin-bottom: 40px;
}
@media (min-width: 1150px) {
  .map {
    margin: 0;
  }
}
.map {
  width: 100%;
}
@media (min-width: 1150px) {
  .map {
    position: absolute;
    right: 50px;
    top: -85px;
    width: auto;
  }
}
.button.contacts__button {
  width: 260px;
  margin: 0 30px;
}
@media (min-width: 768px) {
  .button.contacts__button {
    position: relative;
    left: 50%;
    transform: translateX(-115px);
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .button.contacts__button {
    position: static;
    margin: 0;
    transform: translateX(0);
  }
}
.footer {
  background-color: #f1f1f1;
}
@media (min-width: 768px) {
  .footer {
    padding: 50px 0;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__logo-img {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo-img {
    display: block;
  }
}
.social,
.copyright__text {
  padding: 25px 0;
}
@media (min-width: 768px) {
  .social,
  .copyright__text {
    padding: 0;
  }
}
.social {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .social {
    border-bottom: 0;
  }
}
.social__item {
  padding-right: 40px;
}
.social__item:hover svg,
.social__item:focus svg {
  fill: #56c3b2;
}
.social__item:active svg {
  fill: #56c3b2;
  opacity: 0.3;
}
.social__item:last-child {
  padding-right: 0;
}
.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .copyright__link {
    padding-left: 0;
  }
}
.copyright__icon {
  padding-left: 25px;
}
@media (min-width: 1150px) {
  .copyright__icon {
    padding: 0 30px;
  }
}
.catalog {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .catalog {
    padding-top: 80px;
  }
}
@media (min-width: 1150px) {
  .catalog__list {
    display: flex;
    justify-content: space-between;
  }
}
.catalog__list-item {
  margin-bottom: 30px;
  border: 1px solid #ececec;
  cursor: pointer;
}
@media (min-width: 768px) {
  .catalog__list-item {
    display: flex;
    margin-bottom: 55px;
  }
}
@media (min-width: 1150px) {
  .catalog__list-item {
    flex-direction: column;
  }
}
.catalog__list-item:hover,
.catalog__list-item:focus {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}
.catalog__list-item:active {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.product__img {
  width: 100%;
  height: 100%;
}
.product__features {
  position: relative;
  padding: 30px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .product__features {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
  }
}
.product__info {
  display: flex;
  flex-direction: column;
}
.product__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .product__title {
    font-size: 20px;
  }
}
.product__title:hover,
.product__title:focus {
  opacity: 0.6;
}
.product__title:active {
  opacity: 0.3;
}
.product__text {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .product__text {
    font-size: 15px;
  }
}
.product__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  border-top: 1px solid #ececec;
}
.product__price {
  font-size: 15px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .product__price {
    margin: 0;
    font-size: 17px;
  }
}
svg.product__icon {
  fill: #e7e7e7;
}
svg.product__icon:hover,
svg.product__icon:focus {
  fill: #63d1bb;
}
svg.product__icon:active {
  fill: #63d1bb;
  opacity: 0.3;
}
.video {
  padding-top: 30px;
  padding-bottom: 60px;
}
@media (min-width: 1150px) {
  .video {
    padding-bottom: 105px;
  }
}
.video__block {
  position: relative;
  padding: 95px 0 30px;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .video__block {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .video__block {
    flex-direction: row;
  }
}
.video__box {
  position: relative;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  background-image: url('../img/video-mobile.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .video__box {
    height: 455px;
    padding: 0;
    background-image: url('../img/video-tablet.jpg');
    background-size: contain;
    order: -1;
  }
}
@media (min-width: 1150px) {
  .video__box {
    background-image: url('../img/video-desktop.jpg');
  }
}
.video__img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .video__img {
    width: auto;
  }
}
.video__box:hover,
.video__box:focus {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}
.video__box:active {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.video__button {
  position: absolute;
  display: block;
  top: calc(50% - 38px);
  left: calc(50% - 50px);
  width: 100px;
  height: 76px;
  margin: 0 auto;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
  cursor: pointer;
}
.video__button:hover,
.video__button:focus {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
}
.video__button:active {
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
}
.video__content {
  flex-grow: 1;
  padding: 30px;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .video__content {
    padding: 35px 45px 45px;
  }
}
@media (min-width: 1150px) {
  .video__content {
    padding: 40px 65px 60px 75px;
  }
}
.video__title {
  position: absolute;
  top: 25px;
  padding-right: 30px;
  padding-left: 90px;
}
@media (min-width: 768px) {
  .video__title {
    position: relative;
    top: 0;
    padding-left: 65px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1150px) {
  .video__title {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 35px;
  }
}
.video__title:before {
  content: "";
  position: absolute;
  left: 30px;
  top: 0;
  width: 32px;
  height: 22px;
  background-image: url("../img/icon/video.png");
}
@media (min-width: 768px) {
  .video__title:before {
    left: 0;
  }
}
@media (min-width: 1150px) {
  .video__title:before {
    top: 0;
    left: 0;
  }
}
@media (min-width: 768px) {
  br {
    display: none;
  }
}
@media (min-width: 1150px) {
  br {
    display: block;
  }
}
.video__text {
  padding-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
@media (min-width: 768px) {
  .video__text {
    padding-top: 0;
    padding-bottom: 40px;
    margin: 0;
    font-size: 15px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .video__text {
    padding-bottom: 50px;
  }
}
.form {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .form .wrap {
    padding: 0;
  }
}
.form__text {
  padding-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
@media (min-width: 768px) {
  .form__text {
    padding: 68px 50px 33px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .form__text {
    padding: 110px 225px 33px;
  }
}
.form fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
}
@media (min-width: 768px) {
  .form fieldset {
    padding: 0 50px;
  }
}
@media (min-width: 768px) {
  .form fieldset:last-child {
    background-color: #f1f1f1;
  }
}
.form__name {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__name {
    position: absolute;
    top: 50px;
    left: 50px;
  }
}
@media (min-width: 1150px) {
  .form__name {
    left: 115px;
  }
}
@media (min-width: 768px) {
  .form__part--type .name {
    top: 0;
  }
}
.form__name:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: calc(100% - 60px);
  height: 1px;
  background-color: #63d1bb;
}
@media (min-width: 768px) {
  .form__name:after {
    width: 0;
    height: 0;
  }
}
.form__list {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .form__list {
    padding: 0 50px;
    padding-left: 167px;
  }
}
@media (min-width: 768px) {
  .form__list.form__list--color {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
  }
}
.form__list-item {
  padding-left: 60px;
}
@media (min-width: 768px) {
  .form__list--color .form__list-item {
    width: 30%;
  }
}
@media (min-width: 1150px) {
  .form__list--color .form__list-item {
    width: 20%;
  }
}
.form__list--type .form__list-item {
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .form__list--type .form__list-item {
    padding-bottom: 50px;
  }
}
.form__list--color .form__list-item {
  padding-bottom: 45px;
}
.form__list-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.form-input-radio + label::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -11px;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
  border-radius: 50%;
}
.form-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -47px;
  top: 2px;
  width: 15px;
  height: 15px;
  background-color: #63d1bb;
  border-radius: 50%;
}
fieldset.form--color {
  margin-top: 20px;
}
@media (min-width: 768px) {
  fieldset.form--color {
    margin-top: 0;
  }
}
.form-input-checkbox:last-child + label {
  padding-bottom: 0;
}
.form-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -10px;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
}
.form-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -50px;
  top: -4px;
  width: 22px;
  height: 14px;
  border-bottom: 2px solid #444444;
  border-left: 2px solid #444444;
  transform: rotate(-45deg);
}
.form-input-radio:hover + label::before,
.form-input-radio:focus + label::before,
.form-input-checkbox:hover + label::before,
.form-input-checkbox:focus + label::before {
  border-color: #63d1bb;
}
.form-input-radio:disabled + label::before,
.form-input-checkbox:disabled + label::before {
  border-color: #ececec;
}
.form {
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .form .wrap {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .wrap .form__part {
    position: relative;
    padding: 25px 50px 50px 167px;
  }
}
@media (min-width: 1150px) {
  .wrap .form__part {
    padding-left: 225px;
  }
}
@media (min-width: 768px) {
  .name--user {
    top: 65px;
  }
}
@media (min-width: 768px) {
  .name.name--phone {
    top: 70px;
  }
}
@media (min-width: 768px) {
  .name.name--mail {
    top: 180px;
  }
}
.form label {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
}
@media (min-width: 768px) {
  .form label {
    display: flex;
    font-size: 19px;
    padding-top: 40px;
  }
}
.form input {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  color: #ececec;
}
@media (min-width: 768px) {
  .form__part.form__part--user input {
    margin-left: 25px;
  }
  .form__part.form__part--user input:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .form__part.form__part--contacts {
    background-color: #f1f1f1;
  }
}
.form input:hover,
.form input:focus {
  border-bottom: 2px solid #63d1bb;
  outline: none;
}
.form input:active {
  color: #444444;
}
input .user-phone {
  padding-right: 50px;
}
.user-phone__icon {
  width: 25px;
  height: 25px;
  background: url("../img/icon/phone.png") no-repeat right;
}
.user-email__icon {
  width: 32px;
  height: 21px;
  background: url("../img/icon/mail.png") no-repeat right;
}
@media (min-width: 768px) {
  .form__part.form__part--add-infotmation {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .form__part.form__part--add-infotmation .text {
    padding: 0;
    padding-top: 70px;
    padding-bottom: 11px;
    margin-left: auto;
  }
}
textarea {
  width: 100%;
  height: 142px;
  padding: 20px 15px;
  margin-top: 25px;
  border: 2px solid #000000;
  resize: none;
  color: #ececec;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  textarea {
    padding: 15px;
    font-size: 19px;
  }
}
textarea:hover,
textarea:focus {
  border: 2px solid #63d1bb;
  outline: none;
}
textarea:active {
  color: #444444;
}
@media (min-width: 768px) {
  .button.form__button {
    position: absolute;
    left: 50px;
    bottom: 0;
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .button.form__button {
    left: 225px;
  }
}
.button {
  width: 100%;
  padding: 14px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid #444444;
  outline: none;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #444444;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #444444;
}
/**MODAL**/
.modal {
  position: fixed;
  top: 15%;
  left: calc(50% - 160px);
  display: none;
  width: 260px;
  padding: 35px 30px 45px;
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7e7e7;
  z-index: 3;
  animation-name: bounce;
  animation-duration: 0.6s;
  box-shadow: 0px 10px 5px 0px rgba(0, 1, 1, 0.25);
}
@media (min-width: 768px) {
  .modal {
    left: calc(50% - 275px);
    width: 310px;
    padding: 50px 130px 45px;
  }
}
.modal__title {
  padding-bottom: 35px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
  }
}
.modal__text {
  color: #444444;
}
@media (min-width: 768px) {
  .modal__text {
    font-size: 17px;
  }
}
.size-list {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.size-list__button {
  width: 30%;
  padding: 20px 0;
  font-size: 17px;
  font-weight: 700;
  color: #444444;
  text-align: center;
  border: 2px solid #ececec;
  outline: none;
}
.size-list__button:hover,
.size-list__button:focus {
  border: 2px solid #e7e7e7;
}
.size-list__button.selected {
  border: 2px solid #63d1bb;
}
.button.modal__button {
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.9;
}
